$dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg');
$dms-icon-svg-size: 90%;
$dms-icon-color-before: var(--icon-secondary);
$dms-icon-color-after: var(--white);

$dms-background-image-url: url('');
$dms-background-image-size: cover;
$dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));
